<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdzeroly.wvp.storager.mapper.RecordPlanMapper">

    <select id="query" resultType="com.cdzeroly.wvp.domain.RecordPlan">
        SELECT wrp.*, (SELECT count(1) FROM wvp_device_channel WHERE record_plan_id = wrp.id) AS channelCount
        FROM wvp_record_plan wrp
        WHERE 1=1
        <if test="query != null">
            AND (name LIKE concat('%', #{query}, '%') escape '/')
        </if>

    </select>
    <select id="queryRecordIng" resultType="java.lang.Long">
        select wdc.id
        from wvp_device_channel wdc
                 left join wvp_record_plan_item wrpi on wrpi.plan_id = wdc.record_plan_id
        where wrpi.week_day = #{week}
          and wrpi.start &lt;= #{index}
          and wrpi.stop &gt;= #{index}
        group by wdc.id


    </select>
</mapper>
